@page "/{permalink?}"
@model DetailsModel
@{
    ViewData["Title"] = Model.Post?.Title;
}

<section>
    <div class="post">
        <h2><a href="#">@Model.Post?.Title</a></h2>
        <p class="text-muted">
            Posted on <a href="#">@Model.Post?.PublishedOn</a>
            @if (Model.Post?.Category != null)
            {
                @:, in <a asp-area="" asp-page="/Posts/Index" asp-route-category="@Model.Post?.Category?.Permalink">@Model.Post.Category.Name</a>
            }
        </p>
        <p>
            @await Html.PartialAsync("_AdminActions", Model.Post)
        </p>
        <div>
            @Html.Raw(Model.Post?.Content)
        </div>
        <p>
            <i class="icon-tags"></i>&nbsp;Tags:
            @foreach (var tagName in Model.Post?.GetTags())
            {
                <span class="label label-primary">@tagName</span>
            }
        </p>
    </div>
</section>

<section id="comments">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h2 class="title">@Model.Post.TotalComments Comments</h2>
                </div>
                <div class="col-xs-6 col-md-4">
                    <button data-bs-target="#modal-comment" data-bs-toggle="modal" class="btn btn-primary pull-right">
                        Add comment
                    </button>
                </div>
            </div>
        </div>
        <div id="comments-list" class="list-group"
             data-url="@($"{Request.Path}?handler=Comments")">
            <span id="load-comments-msg">Loading comments...</span>
        </div>
    </div>
</section>

@await Html.PartialAsync("_CommentModal", Model.Post)

@section Css {
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/blog.post.js"></script>
}