@page "/"
@model IndexModel
@{
    ViewBag.Title = "Absolutamente tudo sobre ASP.NET";
}

@if (Model.Posts?.Count() == 0)
{
    <div class="alert alert-info">
        <p>Nenhum post encontrado</p>
    </div>
}

<section id="posts">
    @foreach (var item in Model.Posts)
    {
        <div class="post">
            <h2><a asp-area="" asp-page="/Posts/Details" asp-route-permalink="@item.Permalink">@item.Title</a></h2>
            <p class="text-muted">
                Posted on <a href="#">@item.PublishedOn</a>
                @if (item.Category != null)
                {
                    @:, in <a asp-area="" asp-page="?category=@item.Category.Permalink">@item.Category.Name</a>
                }
            </p>
            <p>
                @item.Summary
            </p>
            <p>
                <a asp-area="" asp-page="/Posts/Details" asp-route-permalink="@item.Permalink" class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp;Read more
                </a>
                @* <partial name="_AdminActions" model="@new PostDetailsViewModel { Post = item }" /> *@
                @await Html.PartialAsync("_AdminActions", new PostDetailsViewModel { PostId = item.PostId })
            </p>
        </div>
    }
</section>

@* <partial name="_Paging" model="@Model.Posts" /> *@
@await Html.PartialAsync("_Paging", Model.Posts)