@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Absolutamente tudo sobre ASP.NET";
    ViewData["NavItem.Home"] = "active";
}

@section Tagline {
    <!-- Page header with logo and tagline-->
    <header class="py-4 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-4">
                <h1 class="fw-bolder">Welcome to ASP.NET PRO Blog!</h1>
                <p>@DateTime.Now</p>
            </div>
        </div>
    </header>
}

@if (Model.Posts?.Count() == 0)
{
    <div class="alert alert-light text-center" role="alert">
        Nenhum post encontrado
    </div>
}

<div class="row">
    @foreach (var item in Model.Posts)
    {
        <div class="card mb-4">
            <div class="card-body">
                <div class="small text-muted">
                    Posted on @item.PublishedOn
                    @if (item.Category != null)
                    {
                        <text>
                            , in <a class="text-decoration-none" asp-area="" asp-page="?category=@item.Category.Permalink">@item.Category.Name</a>
                        </text>
                    }
                </div>
                <h2 class="card-title h4">
                    <a asp-area="" asp-page="/Posts/Details" asp-route-permalink="@item.Permalink"
                       class="text-decoration-none">
                        @item.Title
                    </a>
                </h2>
                <p class="card-text">
                    @item.Summary
                </p>
                <a class="btn btn-primary" asp-area="" asp-page="/Posts/Details" asp-route-permalink="@item.Permalink">
                    Read more →
                </a>
                @await Html.PartialAsync("_AdminActions", new PostDetailsViewModel { PostId = item.PostId })
            </div>
        </div>
    }
</div>

@* <partial name="_Paging" model="@Model.Posts" /> *@
@await Html.PartialAsync("_Paging", Model.Posts)